aiofiles
apprise
certifi
cffi
charset-normalizer
configparser
cryptg
cryptography
cymruwhois
decorator==5.1.1
dnspython
docker
fastai
fastapi
fastapi-mqtt
ffmpeg
ffmpeg-python
flask
flask_restful
flet
geographiclib==2.0
geopy
google_trans_new
google-cloud-speech
google-cloud-translate==2.0.1
google-api-python-client
heyoo
idna
Image
jinja2
jupyterlab
locationsharinglib
loguru
ma-nish
ma-nish
matplotlib
mysql-connector-python
numpy
openai
opencv-python
opencv-python-headless
packaging
paho-mqtt
pandas
phonenumbers
pillow
plotly
prometheus-client
pyaes
pyaml
pyasn1
pycparser
pydub
pypasser
pyTelegramBotAPI
pytesseract
python-dotenv
python-multipart
pyttsreverso
pyyaml
requests
requests-toolbelt
rsa
schedule
scikit-image
scikit-learn
scipy
selenium
six
sounddevice
soundfile
starlette_exporter
Tami4EdgeAPI
telepot
Telethon
tensorboardX
urllib3==1.26.6
uvicorn
validators
wandb
wave
wavinfo
weatheril
webdriver_manager
youtube-dl
PyPDF2
pdfplumber
sqlalchemy
pymysql